{% extends 'base.html' %}

{% block content %}

<h2>Log In Here!</h2>

<div class="container col-6">
    <div class="row-2">
        <form  method="POST" class="col-4">
            {{ form.hidden_tag() }}
            

            {{ form.username(class='form-control', placeholder="Username") }}
            {{ form.password(class='form-control', placeholder="Password") }}
            {{ form.submit(class='btn btn-danger', placeholder="LogIn") }}





        </form>

    </div>
</div>



{% endblock %}