{% extends 'base.html' %}

{% block content %}

<h2>Type in your favorite pokemon name for more info.</h2>

<div class="container justify_content-center col-5">
    <div class="row justify_content-center">
        <form  method="POST" class="col-5">
            {{ form.hidden_tag() }}
            

            {{ form.poke_name(class='form-control', placeholder="Pokemon Name") }}
            {{ form.submit(class='btn btn-primary', placeholder="Submit") }}





        </form>

    </div>
</div>



{% endblock %}