{% extends 'base.html' %}

{% block content %}

<h2>Welcome to a whole new world of Pokemon</h2>
<h3>Register Here to play!</h3>


<div class="container">
    <div class="row justify_content-center">
        <form  method="POST" class="col-5">
            {{ form.hidden_tag() }}

            {{ form.username(class='form-control', placeholder="Username") }}
            {{ form.email(class='form-control', placeholder="Email") }}
            {{ form.password(class='form-control', placeholder="Password") }}
            {{ form.confirm_password(class='form-control', placeholder="Confirm Password") }}
            {{ form.submit(class='btn btn-primary', placeholder="Submit") }}





        </form>

        </form>
    </div>
</div>
{% endblock %}