{% extends 'base.html' %}

{% block content %}




<h2>Register Here!</h2>
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <form  method="POST" class="col-10">
            {{ form.hidden_tag() }}

            {{ form.username(class='form-control', placeholder="Username") }}
            {{ form.email(class='form-control', placeholder="Email") }}
            {{ form.password(class='form-control', placeholder="Password") }}
            {{ form.confirm_password(class='form-control', placeholder="Confirm Password") }}
            {{ form.submit(class='btn btn-danger', placeholder="Submit") }}





        </form>

        </form>
    </div>
</div>
{% endblock %}