<!--{% extends 'base.html' %}

{% block content %}

<div class="container justify-content-center col-auto">
  <div class="row justify-content-center">


    <div class="card border-danger mb-3" style="width: 18rem;">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/25.png"
        class="card-img-top">
      <div class="card-body text-danger">
        <p class="card-text">"{{pokemon}}"</p>
        <p class="card-text">Caught: "{{pokemon}}"</p>

      </div>
      <a href="/pokemon/catch/{{pokemon}}" class="btn btn-danger">Catch Pokemon!</a>
    </div>

  </div>
</div>

{% endblock %}-->